@using Microsoft.AspNet.Identity
@model Repository.Models.Advertisement

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.AddDate) @Html.DisplayFor(model => model.AddDate)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategoria: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd/>
        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index", null, new {@class = "btn btn-primary"})
    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId() == Model.UserId)
    {
        @Html.ActionLink("Edytuj", "Edit", new {id = Model.Id}, new {@class = "btn btn-warning"})
        @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
</p>
